#body{
    background-color: black;
}

#sched {
    background-image: url(images/aboutmebackground.png);
    color: white;
}

#act {
    background-image: url(images/bg.png);
    color: white;
    background-size: 200px;
}

#am {
    text-align: center;
    margin-top: -10ex;
    font-size: 10ex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#rcorners1 {
    text-align: center;
    border-radius: 25px;
    background-image: url(images/me2.png);
    background-size: 750px;
    padding: 20px;
    padding-top: 200px;
    width: 600px;
    height: 200px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

#space {
    padding: 10ex;
}

#space2 {
    padding-left: 0ex;
    padding-right: 20ex;
   
}

#img {
    background-image: url(images/colorbg.png);
    background-size: 750px;
    padding: 20px;
    height: auto;
    width: auto;
}

#about-me {
    text-align: center;
    padding: 105px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 25px;
    background-image: url(images/index.png);
    color: white;
}

#hello {
    font-size: 100px;
    background: none;
}

#welcome {
    font-size: 50px;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(images/aboutmebackground.png);
}

#font {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-image: url(images/aboutmebackground.png);
}

#font1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: forestgreen;
    background-size: 100px;
}

#fun {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-image: url(images/sun2.png);
    background-size: 120px;
    /* background-color: forestgreen; */
    border-radius: 50%;
    padding-left: 3px;
    padding-top: 36px;
    height: 125px;
    width: 120px;
    text-align: center;
}

#font2 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: medium;
    padding-top: 5ex;
    padding-left: 20ex;
}

#fav {
    align-content: center;
}

#form {
    display: inline;
    align-content: center;
    padding: 50px;
    padding-left: 150px;
}

#tdspace {
    padding-right: 10ex;
    padding-left: 10ex;
}

#tdspace2 {
    padding-right: 50ex;
}

* {
    box-sizing: border-box;
  }
  
  .box {
    float: left;
    width: 400px;
    height: 230px;
    padding: 50px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #rocket1 {
    background-image: url(images/rocket1.png);
    background-size: 50ex;
  }

  #rocket2 {
    background-image: url(images/rocket2.png);
    background-size: 60ex;
  }

  #rocket3 {
    background-image: url(images/rocket3.png);
    background-size: 60ex;
  }

  #circle {
    background-image: url(images/colorbg.png);
    border-radius: 250px;

  }

  #nav {
    color: white;
    background-image: url(images/space2.jpg);
    background-size: 1500px;
  }

  #nav2 {
    color: white;
  }

  #dmb {
    width: 2ex;
    height: 2ex;
  }

  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  #dark-mode-button {
    padding-left: 1ex;
    padding-top: 1.6ex;
  }
  
  #dm-label {
    padding-left: 130ex;
    padding-top: 1ex;
  }
  
  body {
    margin-top: 20px;
}

.schedule-table table thead tr {
    background: #86d4f5;
}

.schedule-table table thead th {
    padding: 25px 50px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    border: 0;
}

.schedule-table table thead th:before {
    content: "";
    width: 3px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
}

.schedule-table table thead th.last:before {
    content: none;
}

.schedule-table table tbody td {
    vertical-align: middle;
    border: 1px solid #e2edf8;
    font-weight: 500;
    padding: 30px;
    text-align: center;
}

.schedule-table table tbody td.day {
    font-size: 22px;
    font-weight: 600;
    background: #f0f1f3;
    border: 1px solid #e4e4e4;
    position: relative;
    transition: all 0.3s linear 0s;
    min-width: 165px;
}

.schedule-table table tbody td.active {
    position: relative;
    z-index: 10;
    transition: all 0.3s linear 0s;
    min-width: 165px;
}

.schedule-table table tbody td.active b {
    font-weight: 700;
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
}

.schedule-table table tbody td.active p {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
}

.schedule-table table tbody td .hover b {
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}

.schedule-table table tbody td .hover p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
    line-height: normal;
}

.schedule-table table tbody td .hover span {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

.schedule-table table tbody td.active::before {
    position: absolute;
    content: "";
    min-width: 100%;
    min-height: 100%;
    transform: scale(0);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: all 0.3s linear 0s;
}

.schedule-table table tbody td .hover {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 99;
    background: #86d4f5;
    border-radius: 0.25rem;
    padding: 25px 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.schedule-table table tbody td.active:hover .hover {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
}

.schedule-table table tbody td.day:hover {
    background: #86d4f5;
    color: #fff;
    border: 1px solid #86d4f5;
}

@media screen and (max-width: 1199px) {
    .schedule-table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .schedule-table table thead th {
        padding: 25px 40px;
    }

    .schedule-table table tbody td {
        padding: 20px;
    }

    .schedule-table table tbody td.active b {
        font-size: 18px;
    }

    .schedule-table table tbody td.active p {
        font-size: 15px;
    }

    .schedule-table table tbody td.day {
        font-size: 20px;
    }

    .schedule-table table tbody td .hover {
        padding: 15px 0;
    }

    .schedule-table table tbody td .hover span {
        font-size: 17px;
    }
}

@media screen and (max-width: 991px) {
    .schedule-table table thead th {
        font-size: 18px;
        padding: 20px;
    }

    .schedule-table table tbody td.day {
        font-size: 18px;
    }

    .schedule-table table tbody td.active b {
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .schedule-table table thead th {
        padding: 15px;
    }

    .schedule-table table tbody td {
        padding: 15px;
    }

    .schedule-table table tbody td.active b {
        font-size: 16px;
    }

    .schedule-table table tbody td.active p {
        font-size: 14px;
    }

    .schedule-table table tbody td .hover {
        padding: 10px 0;
    }

    .schedule-table table tbody td.day {
        font-size: 18px;
    }

    .schedule-table table tbody td .hover span {
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {
    .schedule-table table tbody td.day {
        min-width: 135px;
    }
}